recursive-include fuelweb_test *
recursive-include gates_tests *

include README.md
include fuelweb_test/requirements.txt
exclude .gitignore
exclude .gitreview
exclude *.bak

global-exclude *.pyc
global-exclude *.log
