elasticsearch<=2.4.0
git+git://github.com/openstack/fuel-devops.git@2.9.22
netaddr
oslo.i18n>=3.1.0  # the more recent python-*client (dependencies of fuel-qa) require at least this version of oslo.i18n
python-ceilometerclient
py-zabbix
PyYAML
requests
selenium
six
tox
xvfbwrapper
